.MyWork{
    background-color: #6a6a6a !important;
    .text-zone{
        position: absolute;
        top: 40px;
        left: 10%;
        width: 80%;
        h1{
            color: #ffd700;
            font-size: 63px;
            font-family: 'Coolvetica';
            position: relative;
            width: 100%;
            margin: 30px auto;
            
            
            &::before{
                content: '<h1>';
                font-family: 'La Belle Aurore';
                color: #ffd700;
                font-size: 18px;
                position: absolute;
                margin-top: -10px;
                left: -1%;
                opacity: 0.6;
                line-height: 18px;
            }
            &::after{
                content: '<h1/>';
                color: #ffd700;
                font-family: 'La Belle Aurore';
                font-size: 18px;
                position: absolute;
                bottom: -20px;
                left: -1%;
                line-height: 18px;
                opacity: 0.6;
            }
        }
        .projects-container{
            animation: fadeInUpBig 1s forwards;
            animation-delay: 1s;
            max-height: 75vh;
            overflow: auto;
            box-sizing: border-box;
            &::-webkit-scrollbar{
                width: 7px;
            }
            &::-webkit-scrollbar-track{
                // background-color: rgb(1, 31, 48);
                border-radius: 30px;
                
            }
            &::-webkit-scrollbar-thumb{
                // background-color: #ffd700;
                border-radius: 30px;
            }
            &:hover{
                &::-webkit-scrollbar-track{
                    // background-color: rgb(1, 31, 48);
                }
                &::-webkit-scrollbar-thumb{
                    background-color: #ffd700;
                }
                
            }
                .project-item{
                    margin: 40px auto;
                    width: 40%;
                    // padding: 20px 10px;
                    // background-color: rgba(25,25,25, 0.5);
                    // text-align: center;
                    // color: #fff;
                    
                    &:hover{
                        .img-box{
                            .desc{
                                opacity: 1;
                                animation: fadeInDown 0.3s forwards;
                                .badge{
                                    opacity: 1;
                                    animation: zoomIn 0.3s backwards;
                                    animation-delay: 0.5s;
                                }
                            }
                        }
                    }
                    .border-box{
                        width: 100%;
                        height: 24px;
                        background-color: rgb(1, 25, 37);
                        color: #999;
                        position: relative;
                        text-align: center;
                        border-radius: 10px 10px 0 0 ;
                        .border-icon{
                            font-size: 12px;
                            position: absolute;
                            top: 15%;
                            svg{
                                margin-left: 4px;
                            }
            
                        }
                    } 
                    .img-box{
                        position: relative;
                        overflow: hidden;
                        height: 500px;
                        border-radius: 0 0 10px 10px ;
                        box-shadow: 20px 20px 0px rgb(0 0 0 / 15%);
                        img{
                            height: 100%;
                        }
                        
                        .desc{
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            width: 100%;
                            background-color: rgba(0, 0, 0, 0.8);
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            flex-direction: column;
                            opacity: 0;
                            .badge{
                                background-color: #313131;
                                color: #999;
                                margin: 5px 10px;
                                opacity: 0;
                                font-size: small;
                            }
                            .live{
                                background-color: #ffd700;
                                
                                font-size: large;
                                a{
                                    color: #313131 !important;
                                }
                            }
                            .git{
                                background-color: #ddd;
                                font-size: large;
                                a{
                                    color: #313131 !important;
                                }
                            }
                        }
                    }
                }
        }
    }
}