.app{

}
.outlet{
    .tags{
        color: #ffd700;
        opacity: 0.6;
        position: absolute;
        bottom: 30px;
        left: 120px;
        font-size: 18px;
        font-family: 'La Belle Aurore';
    }
    .top-tags{
        bottom: auto;
        top: 40px;
    }
    .html{
        margin-left: -40px;
    }
}

.box-container{
    opacity: 0;
    transform-style: preserve-3d;
    animation: fadeIn 1s forwards;
    animation-delay: 1s;
    // background-color: aliceblue;
}