.about{
    .text-zone{
        // position: absolute;
        // left: -10%;
        // top: 50%;
        // transform: translateY(-50%);
        // max-height: 90%;
        display: flex;
        flex-direction: column;
        line-height: 20px;
        h1{
            color: #ffd700;
            font-size: 63px;
            font-family: 'Coolvetica';
            position: relative;
            margin: 30px 0px;
            
            &::before{
                content: '<h1>';
                font-family: 'La Belle Aurore';
                color: #ffd700;
                font-size: 18px;
                position: absolute;
                margin-top: -10px;
                left: -10px;
                opacity: 0.6;
                line-height: 18px;
            }
            &::after{
                content: '<h1/>';
                font-family: 'La Belle Aurore';
                font-size: 18px;
                position: absolute;
                bottom: -20px;
                left: -20px;
                line-height: 18px;
                opacity: 0.6;
            }
        }
        p{
            color: #fff;
            font-size: 13px;
            font-family: sans-serif;
            font-weight: 300;
            min-width: fit-content;
            animation: pulse 3s;
        }

    }
}
.about-hover{
    &:hover{
        color: #fff;
    }
}


.box-cup{
    // width: 50%;
    // top: 0;
    // padding-top: 18%;
    // margin-left: 0;
    // position: absolute;
    // right: 0;
}
.box-spinner{
    animation-name: spinCupe;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 12s;
    transform-style:preserve-3d;
    transform-origin: 100px 100px 0;
    margin-left: calc(50% - 100px);
    div{
        position: absolute;
        width: 200px;
        height: 200px;
        border: 1px solid #ccc;
        background-color: rgba(255,255,255,0.4);
        display: flex;
        font-size: 108px;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 20px 0px lightyellow;
    }
    .face1{
        transform: translateZ(100px);
    }
    .face2{
        transform: rotateY(90deg) translateZ(100px);
    }
    .face3{
        transform: rotateY(90deg) rotateX(90deg) translateZ(100px);
    }
    .face4{
        transform: rotateY(180deg) rotateZ(90deg) translateZ(100px);
    }
    .face5{
        transform: rotateY(-90deg) rotateZ(90deg) translateZ(100px);
    }
    .face6{
        transform: rotateX(-90deg) translateZ(100px);
    }
}

@keyframes spinCupe{
    from,
    to{
        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    16%{
        transform: rotateY(-90deg);
    }
    33%{
        transform: rotateY(-90deg) rotateZ(90deg);
    }
    50%{
        transform: rotateY(-180deg) rotateZ(90deg);
    }
    66%{
        transform: rotateY(-270deg) rotateZ(90deg);
    }
    83%{
        transform: rotatex(-90deg);
    }
}