.home{
    // background-color: aqua;
    .text-zone{
        position: absolute;
        left: 8%;
        top: 250px;
        // transform: translateY(-50%);
        width: 50%;
        // max-height: 90%;
        // background-color: bisque;
        
        h1{
            color: #fff;
            font-size: 54px;
            font-family: 'Coolvetica';
            position: relative;
            font-weight: 400;
            line-height: 50px;
            img{
                opacity: 0;
                animation: rotateIn 1s linear both;
                animation-delay:1.4s ;
                width: 35px;
                margin-left: 10px;
                transform: rotateZ(-30deg) ;
                height: auto;
                &:hover{
                    transform: rotateZ(-30deg) !important;
                }
            }
            &::before{
                content: '<h1>';
                font-family: 'La Belle Aurore';
                color: #ffd700;
                font-size: 18px;
                position: absolute;
                margin-top: -40px;
                left: -15px;
                opacity: 0.6;
            }
            &::after{
                content: '<h1/>';
                font-family: 'La Belle Aurore';
                color: #ffd700;
                font-size: 18px;
                position: absolute;
                margin-top: 18px;
                margin-left: 20px;
                animation: fadeIn 1s 1.7s backwards;
                opacity: 1.6;
            }
        }
        h2{
            color: #8d8d8d;
            margin: 30px 0;
            font-size: 11px;
            font-family: sans-serif;
            letter-spacing: 3px;
            animation: fadeIn 1s 1.8s backwards;
        }
        .contact-button{
            color: #ffd700;
            font-size: 13px;
            letter-spacing: 4px;
            font-family: sans-serif;
            text-decoration: none;
            padding: 10px 18px;
            border: 1px solid #ffd700;
            animation: fadeIn 1s 1.8s backwards;
            margin-top: 20px;
            &:hover{
                background-color: #ffd700;
                color: #333;
            }
        }
    }
}

.icon-liks{
    position: absolute;
    right: 15%;
    top: 100px; 
    bottom: 0;
    left: auto;
    width: 30%;
    height: 609px;
    // background-color: #8d8d8d;
    z-index: 0;
    opacity: 0;
    .logo-img{
        position: absolute;
        top: auto;
        right: auto;
        left: 0;
        bottom: auto;
        margin: auto;
        width: 100%;
        opacity: 0;
        z-index: 3;
        transform: rotateZ(-10deg);
        // background-color: bisque;

    }
    svg{
        width: 100%;
        height: auto;
        bottom: 0;
        transform: rotateZ(-10deg);
    }
    .svg-strok{
        stroke-width: 5px;
        stroke: #ffd700;
    }
}


@media screen and (max-width: 992px) {
    .home{
        // margin-top: 50px !important;
        box-sizing: border-box;
        padding: 13% 20px;
        .text-zone{
            margin-top: 30px !important;
            position: static;
            width: 100%;
            h1{
                width: 100%;
                &::before{
                    margin-top: -30px;
                    left: 0px;
                }
                &::after{
                    top: 95%;
                    left: 0px;
                    margin: 0;
                }

            }
        }
        .icon-liks{
            top: 30%;
            z-index: -10;
        }
    }
}
@media screen and (max-width: 550px) {
    .home{
        .icon-liks{
            position: relative;
            width: 70%;
            // background-color: #8d8d8d;
            margin-left: 30px;
            top: auto;
            right: auto;
            bottom: auto;
            left: auto;
            max-height: 400px;
            .logo-img{
                // background-color: bisque;

            }
        }
    }
}