.sideBar{
    background: #181818;
    position: fixed;
    top: 0;
    width: 60px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    z-index: 3333;
    .bars-icon{
        display: none;
        // color: #fff;
        transition: all 0.3s ease-out;
        &:hover{
            color: #ffd700;
        }
    }
    .name{
        text-decoration: none;
        color: #ffd700;
        font-family: 'La Belle Aurore';
        font-size: 15px;
        font-weight: 900;
        text-align: center;
        padding-top: 10px;
        
    }
    .nav_button{
        // display: flex;
        // flex-direction: column;
        // gap: 50px;

        a{
            font-size: 22px;
            color: #4d4d4e;
            text-decoration: none;
            margin: 40px 0px;
            position: relative;
            display: block;
            text-align: center;
            svg{
                transition: all 0.5s ease-out;
                
            }
            &:hover{
                color: #ffd700;
                svg{
                    opacity: 0;
                }
                &::after{
                    opacity: 1;
                }
            }
            &::after{
                content: '';
                font-size: 10px;
                position: absolute;
                opacity: 0;
                display: block;
                text-align: center;
                width: 100%;
                bottom: 40%;
                transition: all 0.5s ease-out;
            }
            &:first-child{
                &::after{
                    content: 'HOME';
                }
            }
            &.about{
                &::after{
                    content: 'ABOUT';
                }
            }
            &.skills{
                &::after{
                    content: 'SKILLS';
                }
            }
            &.tips{
                &::after{
                    content: 'TIPS';
                }
            }
            &.mywork{
                &::after{
                    content: 'MYWORK';
                }
            }
            &.contact{
                &::after{
                    content: 'CONTACT';
                }
            }
        }
        .active{
            // background-color: #ffd700;
            svg{
                color: #ffd700;
            }
            transition: all 1s ease-out;
        }
    }
    .social_icon{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px 0px;
        a{
            font-size: 17px;
            text-decoration: none;
            padding: 0px 10px;
            transition: all 0.5s ease-out;
            &:hover{
                svg{
                    color: #ffd700;
                }
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .sideBar{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        padding: 1px 20px;
        position: fixed;
        .bars-icon{
            display: inline;
            font-size: 30px;
            cursor: pointer;
        }
        .mobile-nav{
            opacity: 1 !important;
            left: 0 !important;
        }
        .nav_button{
            position: absolute;
            display: flex;
            top: 100%;
            width: 100%;
            left: 100%;
            padding: 10px 0px;
            background-color: #181818;
            opacity: 0;
            transition: all 0.3s ease-in-out;
            a{
                margin: 0px 20px;
                width: 100%;
            }
        }
        .social_icon{
            flex-direction: row;
            a{
                font-size: 20px;
            }
        }
    }
}